DATABASE_URL="postgresql://postgres:admin@host.docker.internal:5432/prelevementdeau"
DEMARCHES_SIMPLIFIEES_URL="https://www.demarches-simplifiees.fr/api/v2/graphql"
DEMARCHES_SIMPLIFIEES_TOKEN="DEMARCHES_SIMPLIFIEES_TOKEN"
AIRFLOW_HOME=""